@media screen and (max-width: 768px) {
	.consultation {
		top: 170px;
        right: 0;
	}
	.testdiv p {
        width: auto;
    }
    #doc {
    	margin-top: 40px;
    }
    .docfour {
	    margin-top: 0;
	}
	.pull-right {
		float: left!important;
	}
	.text-right {
		text-align: left!important;
	}
	.btn.btn-info.watch {
		margin-left: 0;
		margin-top: 10px;
	}
	#appdiv img, footer img {
		margin-bottom: 10px;
	}
	.pl-60 {
        padding-left: 0;
    }
    .btn.btn-info.learnmore {
        margin-top: 10px;
    }
    #services-div {
	    background: none;
	}
	.nav-logo {
	    margin-left: 0;
	}
}
@media screen and (max-width: 900px) {
    .join, .download {
        width: auto;
    }
    nav .navbar-nav .nav-item .signin {
		margin-bottom: 10px;
	}
	.top-health,
	.whydiv {
	    width: auto;
	}
}
@media screen and (min-width: 770px) and (max-width: 1000px) {
	.docfour {
	    margin-top: -95px;
	}
}
@media screen and (min-width: 770px) and (max-width: 991px) {
    .pro-div {
        width: auto;
    }
    .btn.btn-info.learnmore {
        margin-top: 10px;
    }
}
@media screen and (min-width: 770px) and (max-width: 1230px) {
    .appointment {
        bottom: auto;
    }
}

@media screen and (max-width: 1199px) {
	.join-div {
	    padding-bottom: 70px;
	}
}
        
        