@media screen and (max-width: 630px) {
	.mt-35 {
		padding-bottom: 0;
	}
	.how-div {
        width: 100%;
    }
    .iframe-embed {
		height: 250px;
	}
}
@media screen (min-width: 631px) and (max-width: 900px) {
	.how-div {
        width: 90%;
    }
}
@media screen and (max-width: 800px) {
	#howitworks-div {
        padding-top: 150px;
    }
} 
@media screen and (max-width: 768px) {
	.consultation {
		top: 170px;
        right: 0;
	}
	.testdiv p,
	.newsletter-form {
        width: auto;
    }
    #doc {
    	margin-top: 40px;
    }
    .docfour {
	    margin-top: 0;
	}
	.pull-right {
		float: left!important;
	}
	.text-right {
		text-align: left!important;
	}
	.btn.btn-info.watch {
		margin-left: 0;
		margin-top: 10px;
	}
	#appdiv img, footer img {
		margin-bottom: 10px;
	}
	.pl-60 {
        padding-left: 0;
    }
    .btn.btn-info.learnmore {
        margin-top: 10px;
    }
    #services-div {
	    background: none;
	}
	.nav-logo {
	    margin-left: 0;
	}
	.getting {
        width: 70%;
    }
    .iframe-embed {
		height: 490px;
	}
}

@media screen and (max-width: 900px) {
    .join, .download {
        width: auto;
    }
    nav .navbar-nav .nav-item .signin {
		margin-bottom: 10px;
	}
	.top-health,
	.whydiv {
	    width: auto;
	}
	.howitworks a {
		position: static;
	}
}
@media screen and (min-width: 770px) and (max-width: 1000px) {
	.docfour {
	    margin-top: -95px;
	}
}
@media screen and (min-width: 770px) and (max-width: 991px) {
    .pro-div {
        width: auto;
    }
    .btn.btn-info.learnmore {
        margin-top: 10px;
    }
    .access-div p {
        width: auto;
    }
    .access-div a {
    	margin-bottom: 30px;
    }
}
@media screen and (min-width: 770px) and (max-width: 1230px) {
    .appointment {
        bottom: auto;
    }
}

@media screen and (max-width: 1199px) {
	.join-div {
	    padding-bottom: 70px;
	}
	#about-img {
	    left: auto;
	}
	.howitworks a {
		position: static;
	}
}
       
        