body {
  font-family: 'Lato', sans-serif;
}
nav,
#navbar-main {
  box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.03);
  background-color: #ffffff;
  /*height: 70px;*/
}
.navbar-toggler {
  background: #ff002a;
}
.bars {
  color: #fff;
}
#nav-container {
  padding-bottom: 7px;
}
.navbar-nav>li>a,
.navbar-nav .nav-link .nav-link-inner--text {
  font-size: 14px;
  line-height: normal;
  letter-spacing: normal;
  color: #0c1015;
}
.navbar-nav .nav-link .nav-link-inner--text {
  margin-right: 20px;
}
.navbar-nav>li>a:hover,
.navbar-nav>li>a:focus,
.navbar-nav>li.active>a,
.footer-foot p a:hover,
.navbar-nav .nav-link .nav-link-inner--text.active,
.navbar-nav .nav-link .nav-link-inner--text:hover,
.navbar-nav .nav-link .nav-link-inner--text:focus {
  background: transparent;
  font-weight: 500;
  color: #ff002a;
}
.nav-logo {
  margin-left: -15px;
}
.navbar-fixed-top {
  top: 0;
  border-width: 0 0 1px;
}
.navbar-fixed-top, .navbar-fixed-bottom {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
}
#registration-div {
  margin-right: 15px;
}
.nav.navbar-nav .signin,
nav .navbar-nav .nav-item .signin {
  width: 87.4px;
  border-radius: 19.4px;
  padding: 15px;
  padding-top: 5px;
  padding-bottom: 8px;
  margin-top: 13px;
  margin-right: 10px;
  margin-right: 5px;
}
.nav.navbar-nav #signin,
nav .navbar-nav .nav-item #signin {
  border: 1px solid rgba(169, 169, 169, 0.3);
  background: transparent;
  font-weight: 500; 
}
.nav.navbar-nav #signup,
nav .navbar-nav .nav-item #signup {
  background-color: #ff002a;
  border: none;
  box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.03);
  color: #fff;
}
.navbar-toggle .icon-bar {
  background: #fff;
}

nav .navbar-nav .nav-item .signin {
  margin-top: 0;
  text-transform: initial;
}
/* navigation ends here*/

/*doctors page */
#doc {
  margin-top: 90px;
}
.m-80 {
  margin-top: 80px;
}
.pro-div {
  width: 90%;
  padding: 60px 0 80px 0;
}
.grow {
  font-size: 46px;
  font-weight: 600;
  line-height: 1.39;
  letter-spacing: normal;
  color: #0c1015;
}
.people {
  width: 95%;
}
.practice {
  color: #ff002a;
}
.magical {
  font-size: 18px;
  line-height: 1.78;
  letter-spacing: normal;
  color: #263238;
  margin-bottom: 45px;
}
.btn.btn-info.learnmore {
  width: 144px;
  height: 48px;
  border-radius: 24px;
  background-color: #ff002a;
  border: 0;
  font-size: 16px;
  line-height: normal;
  text-align: center;
  color: #fff;
  margin-right: 10px;
  margin-bottom: 10px;
  text-transform: inherit;
  padding-top: 12px;
}
.btn.btn-info.watch {
  width: 225px;
  height: 48px;
  opacity: 0.98;
  border-radius: 24px;
  border: 1px solid #f9eef0;
  background-color: #fff;
  font-size: 12px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 2px;
  color: #9b9b9b;
  margin-bottom: 10px;
  /*margin-left: 10px;*/
  padding-top: 15px;
}
.pro {
  position: relative;
}
.appointment,
.consultation {
  position: absolute;
  animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  -moz-animation: bounce 2s infinite;
  -o-animation: bounce 2s infinite;
}
.consultation {
  /*top: 100px;
  right: -40%;*/
  top: 110px;
  right: -47%;
}
.appointment {
  bottom: -35px;
  left: -70px;
}
.join-div {
  background-color: #ff002a;
  color: #fff;
}
.drug-div {
  margin-left: -45px;
  padding-right: 25px;
  padding-bottom: 15px;
}
.join {
  font-size: 38px;
  line-height: 1.37;
  letter-spacing: normal;
  margin-top: 50px;
  width: 90%;
}
.join-div hr {
  margin-top: 30px;
  background: #fff;
}
.consult-div {
  width: 90%;
}
.consult-div h4 {
  font-size: 18px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.44;
  letter-spacing: normal;
  color: #ffffff;
}
.consult-div p {
  width: 96%;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: normal;
}
.m-60 {
  margin-top: 60px;
}
.m--65 {
  margin-top: -65px;
}
.testimonial-div {
  /*width: 90%;*/
  width: 95%;
  margin: 80px auto 60px auto;
}
.testdiv h4 {
  font-size: 34px;
  font-weight: 500;
  color: #0c1015;
}
.testdiv p {
  width: 53%;
  margin: auto;
  font-size: 18px;  
  line-height: 1.89;
  letter-spacing: normal;
  color: #7e8085;
}
.testimonial {
  width: 92%;
  margin: 40px auto 10px auto;
}
.testimonialdiv {
  border-radius: 2.5px;
  box-shadow: 0 10px 15px 0 rgba(44, 46, 48, 0.04);
  background-color: #fff;
  padding: 20px 15px;
  margin-bottom: 10px;
}
.testimonialdiv p {
  font-size: 16px;
  line-height: 1.75;
  letter-spacing: normal;
  color: #7e8085;
}
.testimonialdiv img {
  display: inline-block;
}
.testimonialdiv span {
  font-size: 16px;
  line-height: normal;
  letter-spacing: normal;
  color: #2c2e30;
}
.m-25 {
  margin-top: 25px;
}
.docfour {
  margin-top: -140px;
}
.app-div {
  padding: 60px 0;
}
#appdiv {
  margin-top: 60px;
}
.iphone-background {
  position: absolute;
  right: 0;
  z-index: -1;
}
.m-15 {
  margin-top: 15px;
}
#appdiv {
  background: url(./../images/iphone.png);
  margin-top: 25px;
  color: #fff;
  padding: 40px;
  background-size: cover;
  background-position: bottom;
  padding-bottom: 110px;
}
.pl-60 {
  padding-left: 60px;
}
.download {
  width: 87%;
  padding-top: 40px;
  font-size: 30px;
  font-weight: 600;
  line-height: 1.27;
  letter-spacing: -0.1px;
}
.empower {
  width: 97%;
  padding-top: 10px;
  opacity: 0.97;
  font-size: 16px;
  line-height: 1.75;
  letter-spacing: normal;
}
.mt--5 {
  margin-top: -5px;
}
footer {
  padding-bottom: 30px;
}
footer p a, .foot p {
  opacity: 0.5;
  font-size: 14px;
  line-height: 1.66;
  letter-spacing: normal;
  color: #353535;
}
.foot p a {
  opacity: 1;
}
footer p.about {
  font-size: 14px;
  color: #ff002a;
  opacity: 1;
}
.copy {
  font-size: 11px;
  color: #9b9b9c;
  margin-top: 10px;
}
.platform {
  width: 89%;
  opacity: 0.5;
  font-size: 12px;
  line-height: 1.74;
  letter-spacing: normal;
  color: #353535;
}
.fairly-bold {
  font-weight: 500;
}


/*footer section*/
footer a i {
  width: 40px;
  height: 40px;
  border: solid 0.5px rgba(53, 53, 53, 0.1);
  color: rgba(53, 53, 53, 0.5);
  border-radius: 50%;
  text-align: center;
  padding-top: 10px;
  margin-right: 5px;
}
.footer-foot p {
  margin-bottom: 6px;
}
.foot img {
  display: block;
  margin-bottom: 10px;
}
.fa {
  font: normal normal normal 18px/1 FontAwesome;
}

@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);} 
  40% {-webkit-transform: translateY(-30px);}
  60% {-webkit-transform: translateY(-15px);}
}
 
@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {-moz-transform: translateY(0);}
  40% {-moz-transform: translateY(-30px);}
  60% {-moz-transform: translateY(-15px);}
}
 
@-o-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {-o-transform: translateY(0);}
  40% {-o-transform: translateY(-30px);}
  60% {-o-transform: translateY(-15px);}
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
  40% {transform: translateY(-30px);}
  60% {transform: translateY(-15px);}
}

/* landing page */
.mr-10 {
  margin-right: 10px;
}
#services-div {
  background: url(./../images/people-two.png);
  background-position: right;
  background-repeat: no-repeat;
}
#why-div {
  background: url(./../images/groupofdoc.png);
  background-position: right;
  background-repeat: no-repeat;
  padding-top: 60px;
  padding-bottom: 200px;
}
.why-us {
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0px;
  color: #ff002a;
  text-transform: uppercase;
}
.top-health {
  font-size: 36px;
  width: 38%;
  font-weight: 600;
  letter-spacing: -0.1px;
  color: #353536;
}
.whydiv {
  /*width: 185.1px;
  height: 134px;*/
  width: 89%;
  border-radius: 2px;
  box-shadow: 0 7.5px 23px 0 rgba(3, 6, 52, 0.08);
  background-color: #ffffff;
  padding: 20px;
  margin-top: 40px;
}
.whydiv h5 {
  font-size: 24px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: normal;
  color: #323c47;
  margin-bottom: 15px;
}
.whydiv p {
  opacity: 0.5;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.75;
  letter-spacing: normal;
  color: #212121;
  margin-bottom: 40px;
}
.whydiv a,
.whydiv a i {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.93;
  letter-spacing: normal;
  color: #f67e7e;
}
#howitworks-div {
  background: #ff002a;
  padding: 50px 0;
  position: relative;
  z-index: -999;
  margin-top: -300px;
  padding-top: 300px;
}
.how-div {
  width: 75%;
  border-radius: 8px;
  background-color: #ffffff;
  padding: 20px;
}
.number-div {
  width: 40px;
  height: 40px;
  background-color: #ff002a;
  font-size: 18px;
  border-radius: 50%;
  padding-top: 6px;
  text-align: center;
  font-weight: 500;
  letter-spacing: -0.1px;
  color: #ffffff;
}
.how-div img {
  margin-bottom: 20px;
}
.how-div h6 {
  font-size: 20px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: normal;
  color: #100e0b;
}
.how-div hr {
  background-color: #ff002a;
  width: 50px;
  height: 1.2px;
}
.how-div p {
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: normal;
  color: #85878c;
}
.how-it-works {
  margin-top: 40px;
  font-size: 50px;
  font-weight: 600;
  letter-spacing: 0.2px;
  color: #ffffff;
}
.getting {
  width: 37%;
  margin-top: -20px;
  margin-bottom: 60px;
  opacity: 0.68;
  font-size: 18px;
  line-height: 1.78;
  letter-spacing: normal;
  color: #ffffff;
}
.access-div {
  background: #fff;
  padding-top: 40px;
}
.access-div h5 {
  font-size: 38px;
  font-weight: 500;
  line-height: 1.26;
  letter-spacing: normal;
  color: #100e0b;
  margin-bottom: 30px;
  margin-top: 110px;
}
.access-div h5 span {
  font-weight: 600;
  color: #ff002a;
}
.access-div a {
  width: 200px;
  height: 50px;
  border-radius: 34.4px;
  background-color: #ff002a;
  border: none;
  font-size: 14.4px;
  font-weight: bold;
  line-height: normal;
  letter-spacing: -0.1px;
  text-align: center;
  color: #ffffff;
  padding-top: 13px;
}
.ml-50 {
  margin-left: 50px;
}
.dot {
  width: 6.4px;
  height: 6.4px;
  background-color: #ff002a;
  border-radius: 50%;
  float: left;
  margin-top: 7px;
}
.access-div h6 {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: -0.1px;
  color: #100e0b;
}
.access-div p {
  width: 58%;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: normal;
  color: #85878c;
}
.ml-25 {
  margin-left: 25px;
}
.mt-90 {
  margin-top: 90px;
}
.mt-45 {
  margin-top: 45px;
}
.mobileclinic-div,
.blog-div {
  background-image: linear-gradient(to bottom, #ffffff, #f2f4f6);
  padding: 60px 0;
}
.subscribe-div {
  background: url(./../images/.svg);

}


/*contact page */
.contact-header {
  background: url(./../images/contact.png);
  padding: 60px 0 100px 0;
  background-repeat: no-repeat;
  margin-top: 68px;
}
.contact-header p {
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.6px;
  color: #fff;
  text-transform: uppercase;
}
.contact-header h6 {
  font-size: 48px;
  font-weight: 500;
  line-height: 1.29;
  letter-spacing: normal;
  color: #fff;
}
.address-div {
  padding: 60px 0 30px 0;
  color: #000;
}
.address-div p,.address-div h6 {
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: normal;
}
.address-div label {
  font-size: 12px;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: 0.7px;
}
.address-div h6 {
  font-weight: 600;
}
.black {
  color: #000;
}
.address-div input {
  border-radius: 50px;
  border: 1px solid #eaeaea;
  padding-top: 0;
  height: 50px;
  padding-left: 15px;
  margin-bottom: 30px;
}
.address-div textarea {
  border-radius: 3px;
  border: 0.5px solid #eaeaea;
}
.address-div button {
  width: 225px;
  height: 62px;
  background-color: #ff153b;
  border-color: #ff153b;
  border-radius: 50px;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.44;
  color: #fff;
  margin-top: 15px;
  padding-top: 2px;
  margin-bottom: 40px;
  box-shadow: 0px 4px 15px #ccc;
}
.address-div button:hover {
  background: transparent;
  color: #ff153b;
  border-color: #ff153b;
}
.mr-5 {
  margin-right: 5px!important;
}

/* FAQ */
.frequently-div {
  margin-top: 68px;
  padding: 50px 0;
}
.frequently-div h5 {
  font-size: 48px;
  font-weight: 500;
  line-height: 1.29;
  letter-spacing: normal;
  color: #0c1015;
  padding-bottom: 120px;
}
.faq-image {
  background-image: linear-gradient(to top, #ffffff, #f2f4f6);
}
.frequently-div img {
  margin-left: -25px;
  /*margin-top: 25px;*/
  padding-top: 70px;
  position: relative;
  top: -150px;
  margin-bottom: -110px;
}
.questions {
  border-bottom: 0.5px solid rgba(53, 53, 53, 0.1);
}
.faq,
.faq-number {
  font-size: 36px;
  font-weight: 600;
  line-height: 1.39;
  letter-spacing: 0.4px;
  color: #353535;
}
.faq-number {
  font-weight: normal;
  letter-spacing: normal;
  text-align: right;
  padding-top: 5px;
}
.panel-group .panel {
  border-radius: 0;
  box-shadow: none;
}
.panel-default > .panel-heading .panel-title{
  padding: 0;
  border-radius: 0;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.4;
  letter-spacing: normal;
}
.panel-title > a {
  display: block;
  padding: 15px 0;
  color: #353535;
  text-decoration: none;
}
.more-less {
  float: right;
  color: #212121;
  padding-top: 10px;
}
.panel-default > .panel-heading + .panel-collapse > .panel-body {
  width: 80%;
  opacity: 0.7;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.75;
  letter-spacing: normal;
  color: #353535;
}

/* Marketplace */
#diagnostic {
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: normal;
  color: #fff;
  text-transform: initial;
}
.marketplace-div {
  padding: 50px 0;
}
.marketplace {
  font-size: 18px;
  font-weight: 600;
  line-height: 2.44;
  color: #f67e7e;
  margin-bottom: 0;
}
.consult {
  font-size: 36px;
  line-height: 1.22;
  color: #4a4a4a;
}
.mt-40 {
  margin-top: 40px;
}
.certified-div {
  width: 84%;
  padding: 20px;
  border-radius: 2px;
  box-shadow: 0 7.5px 23px 0 rgba(3, 6, 52, 0.08);
  background-color: #fff;
  margin-top: 10px;
}
.certified-div img {
  margin-bottom: 15px;
}
.certified-div h6 {
  font-size: 24px;
  font-weight: 500;
  color: #323c47;
  margin-bottom: 10px;
}
.certified-div p {
  opacity: 0.5;
  font-size: 16px;
  line-height: 1.63;
  color: #4a4a4a;
}
.partners-div {
  padding: 20px 0;
}
.partners-div p {
  font-size: 36px;
  line-height: 1.22;
  color: #4a4a4a;
}
.partners-div img {
  margin-top: 45px;
}